header {
    display: flex;
    padding: 1%;
    flex-direction: row;
    max-height: 250px;

}

.MyPicture {
    width: 250px;
    height: 250px;
}
.Title {
    height: 250px;
    margin-left: 50px;
    font-family:Arial, Helvetica, sans-serif;
}
.Title h2 {
    font-size: 50px;
    padding-top: 25px;
}
.Title p {
    font-size: 25px;
}
main {
    max-width: 100%;
    display: flex;
    padding-top: 25px;
}
.main_content {
    width: 75%;
}
.abilities {
    width: 25%;
}